.contact {
  background: linear-gradient(
    109.6deg,
    rgba(39, 142, 255, 1) 11.2%,
    rgba(98, 113, 255, 0.78) 100.2%
  );
}

#contact h1 {
  font-family: var(--dancingfont);
}

.left img {
  height: 320px;
  width: 425px;
}

/* new styles */
.contact-right {
  position: relative;
  /* so the children can be moved according to the parent
   veryy helpful in responsive design
    alligining of icons have a become a pain in the ass
    they wont listen so by making its parent relative we are telling that
    iam the boss and the children icons should act accoding to it 
    but icons must be absolute annd top and left must be in % or rem fot this to work
    */
}
.contact-right .icon1 {
  position: absolute;
  top: 28%;
  left: 4%;
  font-size: 1.8rem;
}
.contact-right .icon2 {
  position: absolute;
  top: 45%;
  left: 4%;
  font-size: 1.8rem;
}

.contact-right h2 {
  font-family: var(--dancingfont);
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.contact-right input {
  margin: 1rem 0rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  outline: none;
  border: none;
  background: white;
  opacity: 0.5;
  padding: 0.5rem 1rem;
}

.contact-right input::placeholder {
  font-size: large;
  color: black;
  font-weight: 400;
}
.contact-right textarea::placeholder {
  font-size: large;
  color: black;
  font-weight: 400;
}
.contact-right textarea {
  margin: 1rem 0rem;
  width: 80%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: white;
  opacity: 0.5;
  resize: none;
  color: black;
  padding-left: 1.1rem;
  padding-top: 0.5rem;
}
.contact-right button {
  width: fit-content;
  margin: auto;
}

/*  for extra small screen */
@media screen and (max-width: 575px) {
  #contact h1 {
    margin-bottom: 3rem;
  }
  .left {
    margin-top: 4rem;
  }
  .left img {
    height: 15rem;
    width: 20rem;
  }
  .contact-right {
    margin-top: 0.5rem;
  }

  .contact-right form {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contact-right form textarea {
    height: 7rem;
    margin-bottom: 2rem;
  }
  .contact-right form i {
    display: none;
  }

  .contact {
    margin-bottom: 5rem;
  }
}

/* for small screen  */

@media screen and (min-width: 575px) and (max-width: 767px) {
  #contact h1 {
    margin-bottom: 3rem;
  }
}

/* for medium  screen */

@media screen and (min-width: 768px) and (max-width: 991px) {
  #contact {
    margin-bottom: 6rem;
  }

  .left {
    padding-top: 5.7rem;
  }
  .left img {
    height: 15rem;
    width: 20rem;
  }

  .contact-right {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .contact-right .icon1 {
    position: absolute;
    top: 24.5%;
    left: 3%;
    font-size: 1.8rem;
  }
  .contact-right .icon2 {
    position: absolute;
    top: 44%;
    left: 2%;
    font-size: 1.8rem;
  }

  .contact-right textarea {
    height: 7rem;
  }

  #contact h1 {
    margin-bottom: 3rem;
    /* color: yellow; */
  }
}
/* for large screen */

@media screen and (min-width: 991px) {
  #contact h1 {
    margin-bottom: 3rem;
  }
  .left {
    margin-top: 6rem;
  }
  .contact-right {
    padding-top: 2rem;
    /* padding-bottom: 4rem; */
  }

  .contact-right form h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .contact-right form {
    margin-bottom: 7rem;
  }
  .contact-right .icon2 {
    position: absolute;
    top: 45%;
    left: 4%;
    font-size: 1.8rem;
  }
  .contact-right .icon2 {
    position: absolute;
    top: 45%;
    left: 4%;
    font-size: 1.8rem;
  }
  .contact {
    margin-bottom: 7rem;
  }
}
